<head>
    <meta name="language" content="pt-BR" />
    <meta name="country" content="BRA" />
    <meta name="currency" content="R$" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description"
        content="Adicionar aqui uma boa descrição da sua loja virtual. Esta descrição será mostrada nos resultados de busca do Google." />
    <meta name="Abstract" content="Overboard" />
    <meta name="author" content="Overboard" />
    <meta name="copyright" content="Overboard" />
    <meta name="vtex-version" content="1.4.1473.2165" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- accountTitle %> - <%- account %></title>
    <script type="text/javascript" language="javascript">
        var jscheckoutUrl = 'https://<%- account %>.myvtex.com/checkout/#/cart';
        var jscheckoutAddUrl = 'https://<%- account %>.myvtex.com/checkout/cart/add';
        var jscheckoutGiftListId = '';
        var jsnomeSite = '<%- account %>';
        var jsnomeLoja = '<%- account %>';
        var jssalesChannel = '1';
        var defaultStoreCurrency = 'R$';
        var localeInfo = {
            "CountryCode": "BRA",
            "CultureCode": "pt-BR",
            "CurrencyLocale": {
                "RegionDisplayName": "Brazil",
                "RegionName": "BR",
                "RegionNativeName": "Brasil",
                "TwoLetterIsoRegionName": "BR",
                "CurrencyEnglishName": "Real",
                "CurrencyNativeName": "Real",
                "CurrencySymbol": "R$",
                "ISOCurrencySymbol": "BRL",
                "Locale": 1046,
                "Format": {
                    "CurrencyDecimalDigits": 2,
                    "CurrencyDecimalSeparator": ",",
                    "CurrencyGroupSeparator": ".",
                    "CurrencyGroupSize": 3,
                    "StartsWithCurrencySymbol": true
                },
                "FlagUrl": "http://www.geonames.org/flags/x/br.gif"
            }
        };
    </script>
    <script type="text/javascript" language="javascript">
        vtxctx = {
            "searchTerm": "",
            "isOrder": "0",
            "isCheck": "0",
            "isCart": "0",
            "actionType": "",
            "actionValue": "",
            "login": "625bf718-d991-46b2-a5ac-d9038362de84",
            "url": "<%- account %>.vtexlocal.com.br",
            "transurl": "<%- account %>.vtexlocal.com.br"
        };
    </script>
    <script language="javascript"
        src="https://io.vtex.com.br/front-libs/jquery/1.8.3/jquery-1.8.3.min.js?v=1.4.1473.2165" type="text/javascript">
    </script>
    <script language="javascript" src="https://<%- account %>.vteximg.com.br/scripts/swfobject.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript" src="https://<%- account %>.vteximg.com.br/scripts/vtex.ajax.wait.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript" src="https://<%- account %>.vteximg.com.br/scripts/vtex.common.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript"
        src="https://vtex.vtexassets.com/_v/public/assets/v1/npm/@vtex/render-extension-loader@0.1.6/lib/render-extension-loader.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript" src="https://io.vtex.com.br/rc/rc.js?v=1.4.1473.2165" type="text/javascript"></script>
    <script language="javascript"
        src="https://<%- account %>.vteximg.com.br/scripts/vtex.tagmanager.helper.js?v=1.4.1473.2165" type="text/javascript">
    </script>
    <script language="javascript"
        src="https://io.vtex.com.br/portal-ui/1.13.0/scripts/vtex-events-all.min.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript"
        src="https://io.vtex.com.br/portal-ui/1.13.0/scripts/vtex-analytics.js?v=1.4.1473.2165" type="text/javascript">
    </script>
    <script language="javascript"
        src="https://io.vtex.com.br/front-libs/front-i18n/0.7.2/vtex-i18n.min.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript"
        src="https://io.vtex.com.br/front-libs/front-utils/3.0.8/underscore-extensions.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript" src="https://<%- account %>.vteximg.com.br/scripts/currency-format.min.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript"
        src="https://io.vtex.com.br/front-libs/dustjs-linkedin/2.3.5/dust-core-2.3.5.min.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript" src="https://io.vtex.com.br/vtex.js/2.10.1/vtex.min.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript" src="https://io.vtex.com.br/vtex-id-ui/3.18.3/vtexid-jquery.min.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript" src="https://<%- account %>.vteximg.com.br/scripts/jquery.ui.core.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript"
        src="https://<%- account %>.vteximg.com.br/scripts/autocomplete/jquery.ui.widget.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript"
        src="https://<%- account %>.vteximg.com.br/scripts/autocomplete/jquery.ui.position.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript"
        src="https://<%- account %>.vteximg.com.br/scripts/autocomplete/jquery.ui.autocomplete.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript" src="https://<%- account %>.vteximg.com.br/scripts/vtex.commerce.search.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript"
        src="https://<%- account %>.vteximg.com.br/scripts/vtex.viewpart.fulltextsearchbox.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript"
        src="https://io.vtex.com.br/portal-plugins/2.9.13/js/portal-minicart-with-template.min.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript"
        src="https://io.vtex.com.br/portal-plugins/2.9.13/js/portal-template-as-modal.min.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript"
        src="https://io.vtex.com.br/portal-plugins/2.9.13/js/portal-sku-selector-with-template.min.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript" src="https://<%- account %>.vteximg.com.br/scripts/vtex.cookie.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <script language="javascript" src="https://<%- account %>.vteximg.com.br/scripts/jquery.pager.js?v=1.4.1473.2165"
        type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/arquivos/jquery-ui.min.css?v=635825155361570000" />
    <link href="/arquivos/bootstrap.min.css?v=635827719507000000" rel="stylesheet" type="text/css" />
    <link href="/arquivos/owl.carousel.css?v=635825155375270000" rel="stylesheet" type="text/css" />
    <!-- <link href="/arquivos/style.css?v=635827725980670000" rel="stylesheet" type="text/css" /> -->
    <script language="javascript">
        var ___scriptPathTransac = '';
    </script>
    <script language="javascript">
        var ___scriptPath = '';
    </script>
    <!-- Start - WebAnalyticsViewPart -->
    <script>
        var defaultUtmFromFolder = '';
    </script>
    <!-- CommerceContext.Current.VirtualFolder.Name: / -->
    <%- include('./commonStyles') %>
</head>