<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
    <%- include('../partials/head') %>
    <body id="home-page" class="home">
        <%- include('../partials/header') %>
        <section class="banner-hero">
            <div class="banner-list d-block d-md-none">
                <div class="banner-item">
                    <a href="#"><img src="/arquivos/mob-hero-slide.png" alt="" /></a>
                </div>
                <div class="banner-item">
                    <a href="#"><img src="/arquivos/mob-hero-slide.png" alt="" /></a>
                </div>
                <div class="banner-item">
                    <a href="#"><img src="/arquivos/mob-hero-slide.png" alt="" /></a>
                </div>
                <div class="banner-item">
                    <a href="#"><img src="/arquivos/mob-hero-slide.png" alt="" /></a>
                </div>
            </div>
            <div class="banner-list d-none d-md-block">
                <div class="banner-item">
                    <a href="#"><img src="/arquivos/hero-slide.png" alt="" /></a>
                </div>
                <div class="banner-item">
                    <a href="#"><img src="/arquivos/hero-slide.png" alt="" /></a>
                </div>
                <div class="banner-item">
                    <a href="#"><img src="/arquivos/hero-slide.png" alt="" /></a>
                </div>
                <div class="banner-item">
                    <a href="#"><img src="/arquivos/hero-slide.png" alt="" /></a>
                </div>
            </div>
        </section>
        <section class="brands">
            <div class="container">
                <div class="brands-list">
                    <div class="brand-item">
                        <a href="#"><img src="/arquivos/brand-newera.png" alt=""></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="/arquivos/brand-oakley.png" alt=""></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="/arquivos/brand-quicksilver.png" alt=""></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="/arquivos/brand-nike.png" alt=""></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="/arquivos/brand-hangloose.png" alt=""></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="/arquivos/brand-mcd.png" alt=""></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="/arquivos/brand-hurley.png" alt=""></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="/arquivos/brand-ripcurl.png" alt=""></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="/arquivos/brand-volcom.png" alt=""></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="/arquivos/brand-dcshoes.png" alt=""></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="/arquivos/brand-newera.png" alt=""></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="/arquivos/brand-oakley.png" alt=""></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="/arquivos/brand-quicksilver.png" alt=""></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="/arquivos/brand-nike.png" alt=""></a>
                    </div>
                    <div class="brand-item">
                        <a href="#"><img src="/arquivos/brand-hangloose.png" alt=""></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="middle-block p-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="left-content">
                            <a href="#"><img src="/arquivos/banner-esq.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-content">
                            <a href="#"><img src="/arquivos/banner-dir.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="middle-block shelf-block">
            <div class="container">
                <h3 class="shelf-title">Descontos de até <span>50%</span></h3>
                <div class="shelf-list">
                    <%- include('../placeholders/prateleira.ejs') %>
                </div>
                <h3 class="shelf-title">Descontos de até <span>70%</span></h3>
                <div class="shelf-list">
                    <%- include('../placeholders/prateleira.ejs') %>
                </div>
            </div>
        </div>
        <div class="middle-block categories-block">
            <div class="container">
                <h3 class="category-title">Categorias em destaque</h3>
                <ul class="category-list">
                    <li class="list-item"><a href="#" class="list-link">Relógios</a></li>
                    <li class="list-item"><a href="#" class="list-link">Camisetas Oakley</a></li>
                    <li class="list-item"><a href="#" class="list-link">Chapéu do Kuwait</a></li>
                    <li class="list-item"><a href="#" class="list-link">Biquinis Roxy</a></li>
                    <li class="list-item"><a href="#" class="list-link">Pochetes</a></li>
                    <li class="list-item"><a href="#" class="list-link">Pranchas</a></li>
                    <li class="list-item"><a href="#" class="list-link">Sandálias</a></li>
                    <li class="list-item"><a href="#" class="list-link">Chinelo de pedreiro</a></li>
                    <li class="list-item"><a href="#" class="list-link">Meias</a></li>
                    <li class="list-item"><a href="#" class="list-link">Mochilas Vans</a></li>
                    <li class="list-item"><a href="#" class="list-link">Neoprene</a></li>
                    <li class="list-item"><a href="#" class="list-link">Boné New Era</a></li>
                </ul>
                <div class="category-plus">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="cat-card">
                                <div class="cat-image">
                                    <a href="#"><img src="/arquivos/first-block-image.jpg" style="height:100%; object-fit:cover;" alt=""></a>
                                </div>
                                <div class="cat-content">
                                    <h3>Novo vans mismatch com linha 01</h3>
                                    <p>Mistura e combinação de cores e estampas sazonais com a tradicional qualidade da VANS.</p>
                                    <a href="#">Confira</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="cat-card">
                                <div class="cat-image">
                                    <a href="#"><img src="/arquivos/second-block-image.jpg" style="height:100%; object-fit:cover;" alt=""></a>
                                </div>
                                <div class="cat-content">
                                    <h3>Oakley com lentes holbrook com linha 01</h3>
                                    <p>Mistura e combinação de cores e estampas sazonais com a tradicional qualidade da VANS.</p>
                                    <a href="#">Confira</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="cat-card">
                                <div class="cat-image">
                                    <a href="#"><img src="/arquivos/third-block-image.jpg" style="height:100%; object-fit:cover;" alt=""></a>
                                </div>
                                <div class="cat-content">
                                    <h3>Coleção feminina linha praia rip curl com linha 01</h3>
                                    <p>Mistura e combinação de cores e estampas sazonais com a tradicional qualidade da VANS.</p>
                                    <a href="#">Confira</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle-block shelf-block">
            <div class="container">
                <div class="shelf-list">
                    <%- include('../placeholders/prateleira.ejs') %>
                    <%- include('../placeholders/prateleira.ejs') %>
                </div>
            </div>
        </div>
        <%- include('../partials/footer') %>
        <%- include('../partials/commonScripts') %>
        <%- include('../partials/scripts') %>
    </body>
</html>